@import "tailwindcss";

/* standard */
:root {
    /* global styles */
    /* colors from bright to dark -> 1 to 5 */
  /* background */
  --color1: #ffffff;

  --color2: #7FB3FF;
  --color3: #1E4FA3;
  --color4: #0D1B4C;

  /* font-color */
  --color5: #000000; 
  --font1: Arial;
}
/* dark-mode */
@media (prefers-color-scheme: dark) {
  :root {
  /* background */
  --color1: #000000;
  /* font-color */
  --color5: #ffffff;
  }
}
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */


body {
  background: var(--color1);
  color: var(--color5);
  font-family: var(--font1)
}

.header {
  width: 100%;
  height: 50px;
  background-color: var(--color4);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
}

button {
  border-radius: 12px;
  background-color: var(--color3);
  padding: 5px;
  margin: 10px;
}