#continue_container button {
    background: var(--color3);
    padding: 5px;
    width: 200px;
    color: var(--color1)
}
#continue_container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    background: rgb(27, 27, 27);
    margin-bottom: 5px;
}
#continue_btn_0 {
    background: var(--color3);
}
.feedback {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 5px;
    padding: 5px;
    padding: 0;
    padding-bottom: 5px;
}