button {
  background: none;
  border: none;
  color: var(--color3);
  padding: 0;
  margin: 0;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    max-width: 100%;
    gap: 20px;
    margin: 20px auto;
    margin-top: 0;
    height: 70vh;
    overflow-y: auto;     /* vertical scrolling */
}

.titel {
    font-weight: bold;
    font-size: larger;
}
.titel, .text, .katex {
    padding: 10px;
}
.katex {
    display: inline-flex;
}