/* LevelOverview */
/* Width: widest element, maximum 70% */
#level_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  max-width: 70%;
  margin: 0 auto;
}
.level_item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px;
}
.level_item button {
  width: 50px;
  min-width: 50px;
  height: 45px;
  min-height: 45px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.level_btn_top, .level_btn_bottom {
  border-radius: 50%;
  position: relative;
}
.level_btn_top {
  background: var(--color3);
  color: var(--color2);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  overflow: hidden;
}
.level_btn_bottom {
  width: 100%;
  height: 100%;
  background: var(--color2);
  bottom: 39px;
  z-index: -1;
}
/* hover effect */
.level_item button:hover {transform: scale(1.05);}
/* click effect */
.level_item button:active {transform: scale(0.95);}