@import "tailwindcss";

/* standard */
:root {
    /* global styles */
  /* background */
  --color1: #B9E6FF;
  --color2: #551b14;
  --color3: #8a7e72;
  --color4: #06ba63;
  /* font-color */
  --color5: #090302; 
  --font1: Arial;
}
/* dark-mode */
@media (prefers-color-scheme: dark) {
  :root {
  /* background */
  --color1: #090302;
  /* font-color */
  --color5: #B9E6FF;
  }
}
/* 
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */


body {
  background: var(--color1);
  color: var(--color5);
  font-family: var(--font1)
}

#landing_header {
  width: 100%;
  height: 50px;
  background-color: var(--color4);
  text-align: center;
  display: flex;
  justify-content: center;
  justify-items: center;
  gap: 20px;
  font-size: 18px;
}

button {
  border-radius: 12px;
  background-color: var(--color2);
  padding: 5px;
  margin: 10px;
}
/* LevelOverview */
#level_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: fit-content;
  max-width: 70%;
  margin: 0 auto;
}
.level_item {
  display: flex;
  align-items: center;
  gap: 20px;
  margin: 10px;
}
.level_item button {
  width: 50px;
  min-width: 50px;
  height: 45px;
  min-height: 45px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0;
  padding: 0;
}
.level_btn_top, .level_btn_bottom {
  border-radius: 50%;
  position: relative;
}
.level_btn_top {
  background: var(--color3);
  color: var(--color2);
  font-size: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s;
  overflow: hidden;
}
.level_btn_bottom {
  width: 100%;
  height: 100%;
  background: var(--color2);
  bottom: 39px;
  z-index: -1;
}
/* hover effect */
.level_item button:hover {transform: scale(1.05);}
/* click effect */
.level_item button:active {transform: scale(0.95);}