.calc_btns {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
button {
    padding: 0px;
    margin: 0;
    background: none;
}
.dialog {
    background-color: var(--color3);
    border-radius: 12px;
    padding: 20px;
    height: 330px;
    width: 330px;
}
.p-dialog .p-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* header */
.p-dialog-title {
    font-size: large;
    font-weight: 600;
}
.dialog :only-child {
    border-radius: 12px;
    text-align: center;
}

.row_index {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    height: 100%;
}
.dialog_table {width: 100%;}
.matrix-table th, .dialog_table td {
    padding: 10px;
    width: 80px;
}


.select_btn{
    display: flex;
    flex-direction: column;
    gap: 2px;
    border-radius: 12px;
    background: none;
    padding: 0;
}
/* inactive button */
.select_btn .p-button {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    border-radius: 12px;
    background-color: var(--color2);
    color: var(--color3); 
    transition: all 0.2s ease;
    padding: 0.5rem;
    margin: 0;
}
/* active button */
.select_btn .p-button.p-highlight {
    background: var(--color4);
    color: var(--color5);
    border: none;
}
.scalar_input {
    margin: 0;
    width: 70px;
    border: 3px solid var(--color5);
}
.dialog_footer {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.dialog_footer button {
    border: 2px solid var(--color5);
    padding: 5px;
    font-size: small;
    color: var(--color5);
}