.calc_btns {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
button {
    padding: 5px;
    margin: 0;
    background: none;
}
.dialog {
    background-color: var(--color3);
    border-radius: 12px;
    padding: 20px;
    display: flex;
    gap: 10px;
}
.dialog header {
    text-align: left;
}
.dialog :only-child {
    border: 1px solid var(--color2);
    border-radius: 12px;
    padding: 5px;
    display: flex;
    width: fit-content;
    height: fit-content;
    gap: 10px;
    text-align: center;
}
.select_btn{
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background: var(--color4);
}
