.matrix {
  /* border: 1px solid red; */
  text-align: center;
  margin: 10px;
  font-size: 20px;
}
.katex .delimsizing {font-size: 1.1em;}
.katex .mord {
  margin-right: 0.1em; 
  margin-left: 0.1em; 
}