button {
  background: none;
  border: none;
  color: var(--color3);
  padding: 0;
  margin: 0;
}

.content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    height: 70vh;
}
.navigator_btn {
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 20px;
    width: 100%;
}

.titel {
    font-weight: bold;
    font-size: larger;
}